// wraps two children. left is text, right is an image
// the image vanishes when in mobile view
.imageAndTextWrapper {
	display: grid;
	overflow: visible;
	grid-template-columns: auto 1fr;
	grid-template-areas: "content picture";

	:first-child {
		grid-column: 1;
		grid-area: "content";
	}

	:last-child {
		display: none;

		@include desktop {
			display: grid;
			grid-column: 2;
			background-position: right;
			grid-area: "picture";
			min-width: 110px;
		}
	}
}

// center things. attach this to the body tag to work
.center {
	margin: 2ch auto;
	text-align: center;

	// ULs will display as rows
	ul {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
}

#home {
	margin: 0 auto;
}

.dynamic-nav {
	margin: 1em 0;
	* {
		margin: 1em 0;
	}
}

nav {
	margin: 3rem 0;
}

// wraps two children. left is text, right is an image
// the image vanishes when in mobile view
.imageAndTextWrapper {
	display: grid;
	overflow: visible;
	grid-template-columns: auto 1fr;
	grid-template-areas: "content picture";

	:first-child {
		grid-column: 1;
		grid-area: "content";
	}

	:last-child {
		display: none;

		@include desktop {
			display: grid;
			grid-column: 2;
			background-position: right;
			grid-area: "picture";
			min-width: 110px;
		}
	}
}

.avatar {
	background-image: url("media/avatar.svg");
	background-repeat: no-repeat;
	height: 300px;
	width: auto;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-10%);
	}
	100% {
		transform: translateX(0);
	}
}

.socialBox {
	display: inline-block;
	// margin: 0 1ch;
	position: relative;
	animation: 0.25s ease-out slideInFromLeft;
}

.socialImg {
	margin: 0 1ch;
}

// used for the build info box on home page template
.build {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 1ch;
	font-size: 0.8rem;
}