// ==========================================
// GIST STYLES
// ==========================================
article {
	color: $darkest;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a {
		color: $darkest;
		background-color: none;
		padding: 0.25ch;
		text-decoration: underline;
	}

	h1 {
		// background-color: lighten($text, 50%);
		background-color: $darkest;
		color: $lightest;
	}

	h2 {
		background-color: $light;
		color: $darkest;
	}

	// First level indent
	ul {
		* {
			list-style-type: disc;
		}
	}
	ol {
		* {
			list-style-type: decimal-leading-zero;
		}
	}
	ul,
	ol,
	p {
		li,
		p {
			margin-left: 1.5rem;
		}
		pre {
			// re adjust code blocks to start of parent
			margin-left: -2rem;
		}
		// Second level indent
		ul,
		ol {
			li,
			p {
				margin-left: 2rem;
			}
			pre {
				// re adjust code blocks to start of parent
				margin-left: -2rem;
			}
			// Third level indent
			ul,
			ol {
				li,
				p {
					margin-left: 2rem;
					// list-style-type: disc;
				}
				pre {
					// re adjust code blocks to start of parent
					margin-left: -2rem;
				}
			}
		}
	}

	// quotes
	blockquote p {
		// background-color: darken($mainBackground, 10%);
		font-weight: bold;
		padding: 1ch;
		margin: 2ch;
		font-style: italic;
		quotes: '"' '"' "'" "'";
		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}
	}

	// code blocks
	pre {
		font-weight: bolder;
		background-color: $darkest;
		padding: 1ch;
		margin: 2ch 0;
		@extend .floatGradient;
		overflow-x: auto;
		border-radius: 1ch;
		code {
			background-color: unset;
			border: unset;
			color: #e3e2de;
			font-family: "Fira Code", monospace;
		}
	}

	:not(pre) > code {
		background-color: $dark;
		color: $lightest;
		font-weight: 500;
		padding: 0 1ch;
		hyphens: none;
		font-family: "Fira Code", monospace;
		border: 1px solid;
		box-sizing: border-box;
		border-radius: 0.5em;
		line-height: 1.5em;
		display: inline-block;
		word-break: break-all;

		&::selection {
			color: $dark;
			background-color: $lightest;
		}
	}

	// separate out the sections
	h1,
	h2 {
		@extend .HyperLink;
	}

	h4,
	h5,
	h6 {
		margin: 2ch 0;
		// padding: 0.5ch;
		// @extend .HyperLink;
	}

	p {
		margin: 2ch 0;
	}

	// p:nth-child(even) {
	// 	background-color: darken($mainBackground, 20%);
	// }

	img {
		overflow: hidden;
		display: block;
		margin: auto;
		width: 80%;
	}

	.markdown-image-wrapper {
		width: 100%;
	}

	// tables
	table,
	th,
	td {
		border: 1px solid $darkest;
		border-collapse: collapse;
		margin: 2ch 0;
		padding: 1ch;
		color: $darkest;
		background-color: $lightest;
	}
	
	th {
		background-color: $light;
		text-align: center;
	}

	.floatGradient {
		box-shadow: 0 0.5ch 0px rgba(28, 29, 33, 0.05),
			0 2px 2px rgba(28, 29, 33, 0.12), 0 4px 4px rgba(28, 29, 33, 0.12),
			0 8px 8px rgba(28, 29, 33, 0.12), 0 16px 16px rgba(28, 29, 33, 0.12);
	}

	.gistShareAnchor {
		opacity: 0;
		background-color: inherit;
		color: inherit;
		&:hover {
			color: unset;
			color: invert($mainBackground, 50%);
			mix-blend-mode: unset;
		}
	}

	li {
		margin: 1ch 0;
	}
}

// hljs overwrites
.language-none {
	span {
		color: $lightest;
	}
}

// go to top button
#gotoTop {
	display: none;
	background-color: #121212;
	position: fixed;
	margin: 1rem;
	padding: 1ch;
	bottom: 0;
	left: 0;
	a {
		color: #dedede;
	}
}
