// ==========================================
// GIST STYLES
// ==========================================
article {
	color: $darkText;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	a {
		color: $darkText;
		background-color: none;
		padding: 0.25ch;
		text-decoration: underline;
	}

	h1 {
		// background-color: lighten($text, 50%);
		background-color: #1c1d21;
		color: $lightText;
	}

	h2 {
		background-color: lighten(#1c1d21, 20%);
		color: $lightText;
	}

	// First level indent
	ul {
		* {
			list-style-type: disc;
		}
	}
	ol {
		* {
			list-style-type: decimal-leading-zero;
		}
	}
	ul,
	ol,
	p {
		li,
		p {
			margin-left: 1.5rem;
		}
		pre {
			// re adjust code blocks to start of parent
			margin-left: -2rem;
		}
		// Second level indent
		ul,
		ol {
			li,
			p {
				margin-left: 2rem;
			}
			pre {
				// re adjust code blocks to start of parent
				margin-left: -2rem;
			}
			// Third level indent
			ul,
			ol {
				li,
				p {
					margin-left: 2rem;
					// list-style-type: disc;
				}
				pre {
					// re adjust code blocks to start of parent
					margin-left: -2rem;
				}
			}
		}
	}

	// quotes
	blockquote p {
		// background-color: darken($mainBackground, 10%);
		font-weight: bold;
		padding: 1ch;
		margin: 2ch;
		font-style: italic;
		quotes: '"' '"' "'" "'";
		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}
	}

	// code blocks
	pre {
		font-weight: bolder;
		background-color: #1c1d21;
		padding: 1ch;
		margin: 2ch 0;
		@extend .floatGradient;
		overflow-x: auto;
		border-radius: 1ch;
		code {
			background-color: unset;
			color: #e3e2de;
			font-family: "Fira Code", monospace;
		}
	}

	// inline code
	code {
		// background-color: darken($mainBackground, 20%);
		// background-color: rgba(28, 29, 33, 0.5);
		background-color: darken($mainBackground, 10%);
		font-weight: 500;
		padding: 0 0.5ch;
		font-family: "Fira Code", monospace;
	}

	// separate out the sections
	h1,
	h2 {
		// padding: 0.5ch;
		@extend .HyperLink;
		// text-decoration: underline;
		// color: invert(#1c1d21);
	}

	.headingInfoBar {
		background-color: red;
	}
	// h1 {
	// 	margin-top: 10ch;
	// 	// background: lighten(#1c1d21, 20%);
	// }

	// h2 {
	// 	margin-top: 5ch;
	// 	// background: #1c1d21;
	// }

	// // give all headings emphasis
	// h3 {
	// 	margin: 2ch 0;
	// 	// padding: 0.5ch;
	// 	// @extend .emLink;
	// }

	h4,
	h5,
	h6 {
		margin: 2ch 0;
		// padding: 0.5ch;
		// @extend .HyperLink;
	}

	p {
		margin: 2ch 0;
	}

	// p:nth-child(even) {
	// 	background-color: darken($mainBackground, 20%);
	// }

	img {
		overflow: hidden;
		width: 80%;
		// border-radius: 1ch;
		// @extend .floatGradient;
		// Change this to center
		// margin: 0 auto;
		// display: block;
	}

	// tables
	table,
	th,
	td {
		border: 1px solid black;
		border-collapse: collapse;
		margin: 2ch 0;
	}

	// table cells
	th,
	td {
		padding: 1ch;
		background-color: darken($mainBackground, 20%);
	}

	.floatGradient {
		box-shadow: 0 0.5ch 0px rgba(28, 29, 33, 0.05), 0 2px 2px rgba(28, 29, 33, 0.12),
			0 4px 4px rgba(28, 29, 33, 0.12), 0 8px 8px rgba(28, 29, 33, 0.12), 0 16px 16px rgba(28, 29, 33, 0.12);
	}

	.gistShareAnchor {
		opacity: 0;
		// color: invert($mainBackground);
		// background: $mainBackground;
		background-color: inherit;
		color: inherit;
		&:hover {
			// background-color: inherit;
			color: unset;
			color: invert($mainBackground, 50%);
			mix-blend-mode: unset;
			// color: invert($mainBackground);
			// background-color: #1c1d21;
			// background-color: invert($mainBackground);
		}
	}

	li {
		margin: 1ch 0;
	}
}
