.HyperLink {
	list-style-type: none;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

// dark hyperlinks: dark background.
// usually underlined as a style rule :)
.darkHyperLink {
	@extend .HyperLink;
	color: $darkest;
}

.darkHyperLinks * {
	@extend .darkHyperLink;
}

.lightHyperLink {
	@extend .HyperLink;
	color: $lightest;
}

.lightHyperLinks * {
	@extend .lightHyperLink;
}

// global fallback for any links that aren't styled
a {
	text-decoration: none;
}

// the little spinny logo thing on the home page
.caret {
	transition: transform 0.25s ease-in-out;
}

// when the caret is triggered
#caret-flip {
	transform: rotate(180deg);
}

.darkHeroHyperlink * {
	color: $darkest;
}

.lightHeroHyperlink * {
	color: $lightest;
}

nav * {
	color: $lightest;
}
