nav {
	// margin-bottom: 4rem;
	// background-color: $dark;
	margin: 0;

	ul {
		list-style-type: none;
		li {
			display: inline;
		}
	}
}

// styling for dynamic prev/next nav buttons
#dynamic-nav {
	// min-height: 5em;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	li {
		margin: auto 0;
	}
	#nav-prev-link {
		margin-top: 0;
		grid-column: 1;
		grid-row-start: 1;
		grid-row: 1;
	}
	#nav-next-link {
		margin-bottom: 0;
		grid-column: 1;
		grid-row: 2;
		vertical-align: bottom;
	}
	#nav-created-box {
		grid-column: 2;
		grid-row: 1;
		text-align: right;
	}
	#nav-edited-box {
		grid-column: 2;
		grid-row: 2;
		text-align: right;
	}
}

// styles for /src/views/partials/router
#router {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.backLink {
	margin: 2.5rem 0;
	// font-size: 2rem;
	// word-wrap: break-word;

	// @include desktop {
	//   font-size: 5rem !important;
	// }
}
