nav {
  margin-bottom: 4rem;

  ul {
    list-style-type: none;
    li {
      display: inline;
    }
  }
}

// styling for dynamic prev/next nav buttons
#dynamic-nav {
  // min-height: 5rem;
  // background-color: red;
  transition: all 1s ease-in-out;
  margin: 1rem 0;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  li {
    margin: auto 0;
  }
  #nav-prev-link {
    margin-top: 0;
    grid-column: 1;
    grid-row-start: 1;
    grid-row: 1;
  }
  #nav-next-link {
    margin-bottom: 0;
    grid-column: 1;
    grid-row: 2;
    vertical-align: bottom;
  }
  // #nav-home-link {
  //   text-align: right;
  //   margin-top: 0;
  //   grid-column: 3;
  //   grid-row: 1;
  // }
}

// styles for /src/views/partials/router
#router {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.backLink {
  margin: 2.5rem 0;
  // font-size: 2rem;
  // word-wrap: break-word;
  
  // @include desktop {
  //   font-size: 5rem !important;
  // }
}