html {
	font-size: calc(16px + 0.25vw);
	font-family: "Roboto", sans-serif;
	//   * {
	//     @include desktop {
	//       font-size: calc(1rem + 0.3vw);
	//     }
	//     @include tablet {
	//       font-size: calc(1rem + 0.15vw);
	//     }
	//   }
}

// ==========================================
// HEADINGS
// ==========================================
h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

// ==========================================
// MISC COMPONENTS
// ==========================================
.dynamic-nav {
	font-size: 0.75rem;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

// ==========================================
// TABLES
// ==========================================
table {
	* {
		text-align: left;
		margin: 0.5rem;
	}
	td {
		margin: 0.5rem;
	}
}
