[Unit]
Description=build my website
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/roland/staticFolio
ExecStartPre=/usr/bin/bash -c 'echo build script ran at $(date) >> /home/roland/websiteLog.txt'
ExecStartPre=/usr/bin/git pull origin master
ExecStart=/home/roland/.nvm/versions/node/v12.16.1/bin/node build.js
ExecStartPost=/usr/bin/bash -c 'rm -rf /var/www/rolandw.dev/html/*'
ExecStartPost=/usr/bin/bash -c 'ln -s /home/roland/staticFolio/dist/* /var/www/rolandw.dev/html/'
User=roland
Group=roland

[Install]
WantedBy= multi-user.target