<div class="dynamic-nav">
	
	<div id="nav-prev-link"><a href="<%=links.prev.filepath.replace(/\s/g, '')%>"><%=links.prev.title%></a></div>
	

	
	<div id="nav-next-link"><a href="<%=links.next.filepath.replace(/\s/g, '')%>"><%=links.next.title%></a></div>
	
</div>