// ##──── CHAPTER SYSTEM ────────────────────────────────────────────────────────────────────
// The chapter is every H1              1
// The section is every H2              2
// The slide is every H3                2.1
// article {
// 	counter-reset: chapter 1 section 0 slide 0;
// 	h1 {
// 		counter-increment: chapter;
// 	}
// 	h2 {
// 		counter-increment: section;
// 		&:before {
// 			content: counter(section) ". ";
// 		}
// 		counter-reset: slide 0;
// 	}
// 	h3 {
// 		counter-increment: slide;
// 		&:before {
// 			content: counter(section) "." counter(slide) " ";
// 		}
// 	}
// }

article {
	counter-reset: h1 1 h2 0 h3 0;
}

h1 {
	counter-increment: h1;
	counter-reset: h2;
}

h2 {
	counter-increment: h2;
	&:before {
		content: counter(h1) "." counter(h2) " ";
	}
}

// h3 {
// 	counter-increment: h3;
// 	&:before {
// 		content: counter(h2) "." counter(h3) " ";
// 	}
// }

// h1 {
// 	counter-increment: a;
// 	counter-reset: b;
// }
// h2 {
// 	counter-increment: b;
// 	counter-reset: c;
// }
// h3 {
// 	counter-reset: d;
// 	counter-increment: c;
// }
// h4 {
//   counter-increment: d;
// }
// h2:before {
// 	content: counter(b) " ";
// }
// h3:before {
// 	content: counter(b) "." counter(c) " ";
// }
// h4:before {
// 	content: counter(b) "." counter(c) "." counter(d) " ";
// }

// h1 {
// 	counter-increment: a;
// 	counter-reset: b;
// }
// h2 {
// 	counter-increment: b;
// 	counter-reset: c;
// }
// h3 {
// 	counter-reset: d;
// 	counter-increment: c;
// }
// h4 {
//   counter-increment: d;
// }
// h2:before {
// 	content: counter(b) " ";
// }
// h3:before {
// 	content: counter(b) "." counter(c) " ";
// }
// h4:before {
// 	content: counter(b) "." counter(c) "." counter(d) " ";
// }


// ##──── CHAPTER SYSTEM ────────────────────────────────────────────────────────────────────
// ? This system i DON'T like as much because articles tend to use only one H1, and H2 becomes the new "title"
// The chapter is every H1              1
// The section is every H2              2.1
// The slide is every H3                2.1.1
// article {
// 	counter-reset: chapter 1 section 0 slide 1;
// 	h2 {
// 		counter-reset: slide 0;
// 		counter-increment: section;
// 	}
// 	h3 {
// 		counter-increment: slide;
// 	}
// 	h1:before {
// 		content: counter(chapter) ". ";
// 	}
// 	h2:before {
// 		content: counter(chapter) "." counter(section) " ";
// 	}
// 	h3:before {
// 		content: counter(chapter) "." counter(section) "." counter(slide) " ";
// 	}
// }
