nav {
	ul {
		list-style-type: none;
		li {
			display: inline;
		}
	}
}

// .sticky {
// 	position: sticky;
// 	background: $darkest;
// 	top: 0;
// 	padding-left: 20vw;
// }

#logoNavWrapper {
	width: 100vw;
	height: 50px;
	background-color: $darkest;
	#logo {
		position: sticky;
		// background: $darkest;

		top: 0;
		// padding-left: 20vw;
	}
}

.heroTitle {
	background-color: $darkest;
}

#hero {
	display: flex;
	flex-direction: column;
	height: 30vh;
	max-height: 500px;
	min-height: 200px;
	background-color: $darkest;
	padding: 1em 2em;
	padding-top: 4em;

	@include desktop {
		padding-left: 20vw;
		padding-right: 20vw;
	}
	@include tablet {
		padding-left: 10vw;
		padding-right: 10vw;
	}
}

#heroNav {
	background-color: $darkest;
	width: 100%;
	margin-top: auto;
}

// styling for dynamic prev/next nav buttons
#dynamic-nav {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	// position: relative;
	// top: 10%;
	// margin: 4em 0;
	li {
		margin: auto 0;
	}
	#nav-prev-link {
		margin-top: 0;
		grid-column: 1;
		grid-row-start: 1;
		grid-row: 1;
	}
	#nav-next-link {
		margin-bottom: 0;
		grid-column: 1;
		grid-row: 2;
	}
	#nav-created-box {
		grid-column: 3;
		grid-row: 1;
		text-align: right;
	}
	#nav-edited-box {
		grid-column: 3;
		grid-row: 2;
		text-align: right;
	}

	// #nav-logo-box {
	// 	grid-column: 2;
	// 	grid-row: 1;
	// 	grid-row-start: 1;
	// 	grid-row-end: 3;
	// 	margin: auto;
	// 	// text-align: right;
	// }
}

// styles for /src/views/partials/router
#router {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.backLink {
	margin: 2.5rem 0;
	// font-size: 2rem;
	// word-wrap: break-word;

	// @include desktop {
	//   font-size: 5rem !important;
	// }
}
