{{#with frontMatter}}
  {{!-- version --}}
  {{#if version}}
    <div>
      version: {{version}}
    </div>
  {{else}}
    <div>
      version: 1.0
    </div>
  {{/if}}

  {{!-- author --}}
  {{#if author}}
    <div>
      written by: {{author}}
    </div>
    {{else}}
    <div>
      written by: roland
    </div>
  {{/if}}
{{/with}}