{{#with frontMatter}}
  {{#if author}}
    <div>
      author: {{author}}
    </div>
  {{/if}}
  {{#if version}}
    <div>
      version: {{version}}
    </div>
  {{/if}}
  {{#if tags}}
    <div>
      tags: {{tags}}
    </div>
  {{/if}}
{{/with}}