<nav>
  {{> frontMatter}}
  <div>
{{#each pagination ~}}
 <a href="{{~ getPaginationSeg @index ~}}">{{~ this ~}}</a>/
  {{~^~}}
{{/each}}
  </div>
</nav>

{{!-- IGNORE THIS JUNK --}}
{{!-- {{@index}}  --}}
{{!-- {{#each pagination }}
  /{{this}}
{{/each}} --}}