@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  color: unset; }

html,
body {
  font-family: "sans serif", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 1.4em; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

body {
  letter-spacing: 0.0625em;
  word-spacing: 00.0625em; }

article {
  line-height: 1.5em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
  text-transform: lowercase;
  margin: 0.5em 0;
  padding: 2px 0; }

h1,
h2 {
  font-size: clamp(30px, 30px, 60px); }

h3,
h4,
h5,
h6 {
  font-size: clamp(12px, 21.6px, 24px); }

p:first-letter {
  text-transform: capitalize; }

code {
  font-family: monospace;
  font-size: 1em; }

pre {
  line-height: 1.5em; }

h1::before {
  content: "# ";
  color: #50fa7b; }

h2::before {
  content: "## ";
  color: #50fa7b; }

h3::before {
  content: "### ";
  color: #50fa7b; }

a {
  color: #f6f6fa;
  text-decoration: underline;
  font-style: italic; }
  a:hover {
    background-color: black;
    border: 1px solid #50fa7b;
    padding: 1px; }

article a::before {
  content: "{"; }

article a::after {
  content: "}"; }

nav {
  grid-column: 1;
  padding: 2em;
  width: clamp(300px, 10vw, 500px); }
  nav .nav-section {
    margin-bottom: 1.5em; }

/*!
  Theme: An Old Hope – Star Wars Syntax
  Author: (c) Gustavo Costa <gusbemacbe@gmail.com>
  Maintainer: @gusbemacbe
  Original theme - Ocean Dark Theme – by https://github.com/gavsiu
  Based on Jesse Leite's Atom syntax theme 'An Old Hope'
    https://github.com/JesseLeite/an-old-hope-syntax-atom
*/
/* Millenium Falcon */
.hljs {
  background: #1c1d21;
  background: #000000;
  color: #c0c5ce; }

/* Death Star Comment */
.hljs-comment,
.hljs-quote {
  color: #b6b18b; }

/* Darth Vader */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #eb3c54; }

/* Threepio */
.hljs-number,
.hljs-built_in,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #e7ce56; }

/* Luke Skywalker */
.hljs-attribute {
  color: #ee7c2b; }

/* Obi Wan Kenobi */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #4fb4d7; }

/* Yoda */
.hljs-title,
.hljs-section {
  color: #78bb65; }

/* Mace Windu */
.hljs-keyword,
.hljs-selector-tag {
  color: #b45ea4; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

body {
  background-color: #252728;
  color: #f6f6fa;
  display: grid;
  grid-template-columns: auto 1fr; }

article #content {
  width: clamp(300px, 45em, 100%); }

article {
  grid-column: 2;
  padding: 2em; }

pre {
  background-color: #000000;
  padding: 5px;
  margin: 2em 0; }

code:not(pre > code) {
  font-size: 105%;
  padding: 2px;
  font-family: monospace;
  background-color: #44475a;
  border: 1px solid #f6f6fa; }
