// $modal-card-body-background-color: "#121212";
// $background: "#121212";
// $modal-card-title-color: #121212;

// $modal-card-body-background-color: #363636;
// $modal-card-head-background-color: #363636;
// $modal-card-foot-background-color: #363636;
// $modal-card-title-color: white;

// $modal-background-background-color: #121212;
// $background: black;

$main: #282c34;

// forms
$input-background-color: lighten($main, 10%);
$input-border-color: #121212;
$input-color: white;

// tables
$table-background-color: $main;

// buttons
// $button-text-hover-background-color: $main;
@import "../../node_modules/bulma/bulma.sass";
