<!DOCTYPE html>
<html lang="en">
	<!-- build info preamble -->
	<%- include(templateDir + '/p_build_info.ejs' ) %>

	<!-- head -->
	<%- include(templateDir + '/p_head.ejs' ) %>

	<body>
		<div id="content_wrapper">
			<div id="content">
				<div id="root-links">
					<div id="home_link_wrapper">
						<% rootLinks.forEach((sibling)=> { %>
							<a class="home-achor" href="/<%- sibling.path.join(" /") %>"><%- sibling.name %></a><% }); %>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>