<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Roland's Blog and WWWebsite" />
	<meta property="og:title" content="Roland's Blog and WWWebsite" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="/favicon.png" />
	<meta property="og:url" content="/" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@RolandIRL" />
	<link rel="icon" type="image/png" href="/favicon.ico" />
	<title>Roland</title>
	<% styles.forEach((script) => { %> <%- script %> <% }); %>
</head>
