@import "./components/colors_light";
@import "./components/reset";
@import "./components/typography";
@import "./components//navigation";
@import "./components/an-old-hope";

body {
  background-color: $bg-color;
  color: $font-color;
  display: grid;
  grid-template-columns: auto 1fr;
}
nav {
  padding: 2em;
}
article {
  #content {
    width: clamp(300px, 42em, 800px);
  }
  ul {
    list-style-type: none;
    margin: 1em 0;
    li:before {
      display: inline-block;
      content: "-";
      width: 1em;
      margin-left: -1em;
    }
    li:hover {
      &:before {
        display: inline-block;
        content: ">";
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}

article {
  grid-column: 2;
  padding: 2em;
  ::-webkit-scrollbar {
    background: $bg-accent;
    height: 8px;
  }
  ::-webkit-scrollbar-corner {
    background: $bg-color;
  }
  ::-webkit-scrollbar-thumb {
    // background: $bg-color;
    background: $font-accent1;
  }
}

// code blocks
pre {
  background-color: $code-block-bg;
  padding: 5px;
  margin: 2em 0;
  color: $font-accent1;
  overflow-x: scroll;
  scrollbar-width: thin;
}

// inline code
code:not(pre > code) {
  // font-size: 16px;
  font-size: 105%;
  padding: 2px;
  font-family: monospace;
  background-color: $font-accent2;
  border: 1px solid $font-color;
}

// anchor styles
a {
  // color: $font-accent3;
  color: $font-color;
  text-decoration: underline;
  // font-weight: bold;
  font-style: italic;
  &:hover {
    background-color: $bg-accent;
    border: 1px solid $font-accent3;
    padding: 1px;
  }
}
