<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
  <div id="root">
    <div class="links">
      {{#each siblings}}
        <div class="link">
          <a href="{{urlFromPath this.pathOnDisk}}">{{nameFromPath this.pathOnDisk}}</a>
        </div>
      {{/each}}
    </div>
  </div>
</body>
</html>