<div class="dynamic-nav">
	<div id="nav-prev-link">
		<a class="darkHyperLink" href="<%=neighbours.prev.path%>"
			>↑ <strong><%=neighbours.prev.name%></strong></a
		>
	</div>

	<div id="nav-next-link">
		<a class="darkHyperLink" href="<%=neighbours.next.path%>"
			>↓ <strong><%=neighbours.next.name%></strong></a
		>
	</div>
</div>
