<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="Roland's Blog and WWWebsite" />
	<meta property="og:title" content="Roland's Blog and WWWebsite" />
	<meta property="og:type" content="website" />
	<meta property="og:image" content="https://www.rolandw.dev/media/favicon.png" />
	<meta property="og:url" content="https://www.rolandw.dev/" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:site" content="@RolandIRL" />
	<link rel="icon" type="image/png" href="/media/favicon.ico" />
	<title>Roland</title>
	<style>
		html {
			display: none;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="/app.css">
</head>

<body>
	<div id="contentWrapper">
		<nav>
			<h1><a href="<%- backlink%>"><%- title%></a></h1>
		</nav>
		<%- content%>
		<%- target%>
	</div>
	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</body>

</html>