// @import "base/mixins";
// @import "base/lightTheme";
// @import "base/base";
// @import "base/reset";
// @import "components/containers";
// @import "components/navigation";
// @import "components/hyperlinks";
// @import "components/typography";

@import "components/chapters";

$light: #9fa8a8;
$dark: #0f1020;
$fonts: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana,
	sans-serif;

$a-tags: "a, a:active, a:hover, a:visited";
$headers: "h1, h2, h3, h4, h5, h6";

* {
	margin: 0;
	padding: 0;
	color: unset;
	font-family: $fonts;
}

body {
	background-color: $light;
	color: $dark;
}

// ##──── Alignment ─────────────────────────────────────────────────────────────────────────
#app {
	display: grid;
	grid-template-columns: auto 1fr;
}

#content-wrapper {
	grid-column: 1;
}

article {
	margin-right: 10vw;
}

// ##──── Nav ───────────────────────────────────────────────────────────────────────────────
nav {
	height: 100vh;
	width: 120px;
	padding: 0 5ch;
	margin-top: 200px;
	margin-right: 12ch;
	display: block;
	.nav-section {
		margin: 5ch 0;
		text-align: right;
		width: 120px;
		* {
			text-overflow: ellipsis;
			overflow: hidden;
			white-space: nowrap;
		}
	}
}


// ##──── Typography ────────────────────────────────────────────────────────────────────────
article {
	// Extra fancy H1
	h1 {
		font-size: 50px;
		padding: 50px 0 50px 0;
		border-bottom: 10px solid gray;
		box-sizing: border-box;
	}

	// H2 gets a lot of padding
	h2:not(first-child) {
		margin-top: 3em;
	}

	// H3 gets a little bit of padding
	h3:not(first-child) {
		margin-top: 1.5em;
	}

	span,
	p {
		line-height: 150%;
	}
}
 
// ##──── Code ────────────────────────────────────────────────────────────────────────────
article {
	.code-wrapper {
		display: grid;
		grid-template-columns: auto 1fr;
		background-color: $dark;
		color: $light;
		// margin: 1ch 0;
		width: 100%;

		// pad the code itself
		.codeblock-wrapper {
			margin: 1ch;
		}
		
		// style code block labels
		.codeblock-copy-label {
			width: 70px;
			background-color: lighten($dark, 20%);
			padding: 1ch;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.codeblock-output-label {
			width: 70px;
			background-color: lighten($dark, 20%);
			padding: 1ch;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

	// inline code stuff
	code:not([class]) {
		background-color: rgba(48,51,101, 0.2);
		padding: 0 0.5ch;
		color: $dark;
		word-break: break-all;
		display: inline-block;
	}
}

// pad text if its got a code block ABOVE and BELOW it
.code-wrapper + :not(.code-wrapper), :not(.code-wrapper) + .code-wrapper {
	margin-top: 2ch;
}
