@import "base/mixins";
@import "components/chapters";

$light: #9fa8a8;
$dark: #0f1020;
$fonts: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Verdana,
	sans-serif;

$a-tags: "a, a:active, a:hover, a:visited";
$headers: "h1, h2, h3, h4, h5, h6";

* {
	margin: 0;
	padding: 0;
	color: unset;
	font-family: $fonts;
}

body {
	background-color: $light;
	color: $dark;
}

// ##──── Alignment ─────────────────────────────────────────────────────────────────────────
#app {
	display: flex;
	padding: 0;

}

#hero-image {
	width: clamp(300px, 80%, 700px);
}

article {
	overflow-x: hidden;
	padding: 1rem 2.5rem;

	// Fix so the article doesn't stick at the bottom of the page
	margin-bottom: 2ch;
	@include desktop {
		// clamp the width of the article on desktop
		width: clamp(300px, 45vw, 900px);
	}
}

// ##──── Nav ───────────────────────────────────────────────────────────────────────────────
nav {
	// The nav is a desktop only component (for now)
	@include mobile {
		display: none;
	}

	display: flex;
	flex-basis: 0;
	flex-direction: column;

	padding: 2.5em;

	background-color: $dark;
	color: $light;

	.nav-section {
		padding-bottom: 2em;
		width: clamp(250pt, 28ch, 400pt);
	}

	@include tablet {
		padding: 1em;
	}
}

.nav-subsection {
	margin: 0.5ch 0;
}

.nav-bottom {
	margin-top: auto;
}

// organize the prev and next nav links
.nav-link {
	display: grid;
	grid-template-columns: auto 1fr;
	span {
		display: inline;
	}
}

// ##──── Typography ────────────────────────────────────────────────────────────────────────
#heading {
	font-size: 50px;
	border-bottom: 10px solid gray;
	box-sizing: border-box;
}

article {
	// Extra fancy H1 if its the first one
	h1:not(:first-of-type) {
		font-size: 50px;
		padding: 50px 0 50px 0;
		border-bottom: 10px solid gray;
		box-sizing: border-box;
	}

	// Regular H1s after the fancy one
	h1 {
		font-size: 50px;
		padding: 50px 0 50px 0;
	}

	// H2 gets a lot of padding
	h2:not(first-child) {
		margin-top: 3em;
	}

	// H3 gets a little bit of padding
	h3:not(first-child) {
		margin-top: 1.5em;
	}

	// Set an aesthetic style height
	span,
	p {
		line-height: 150%;
	}

	// Make sure you leave this, without it lists wont even get a circle/square ::marker
	ul {
		margin-left: 2ch;
	}
}

// ##──── Code ────────────────────────────────────────────────────────────────────────────
article {
	.code-wrapper {
		display: grid;
		grid-template-columns: 70px 1fr;
		background-color: $dark;
		color: $light;

		// pad the code block itself (not the left button)
		.codeblock-wrapper {
			grid-column: 2;
			margin: 1ch;
			// Scroll the code when it overflows
			overflow-x: scroll;
			-ms-overflow-style: none; /* IE and Edge */
			scrollbar-width: none; /* Firefox */
		}

		// code block labels
		.codeblock-label {
			grid-column: 1;
			background-color: lighten($dark, 20%);
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				background-color: lighten($dark, 30%);
			}
		}

		.codeblock-output-label {
			cursor: unset;
			&:hover {
				background-color: lighten($dark, 20%);
			}
		}
	}

	// A code block followed by anything that isn't its "output" ill be padded
	// we also DON'T want to pad code + p because p already has adequate padding itself...
	// and then the margin we apply to the code-wrapper would conflict and the top vs btm spacing would be uneven
	.code-wrapper + :not(.is-output):not(p) {
		margin-top: 2em;
	}

	// "output" language
	.is-output {
		background-color: lighten($dark, 20%);
		color: $light;
		.codeblock-label {
			color: $light;
		}
	}

	// inline code stuff
	code:not([class]) {
		background-color: rgba(48, 51, 101, 0.2);
		padding: 0 0.5ch;
		color: $dark;
		word-break: break-all;
		display: inline-block;
	}
}

// pad text if its got a code block ABOVE and BELOW it
.code-wrapper + :not(.code-wrapper),
:not(.code-wrapper) + .code-wrapper {
	margin-top: 2ch;
}
