// ==========================================
// GIST STYLES
// ==========================================

.floatGradient {
	box-shadow: 0 0.5ch 0px rgba(28, 29, 33, 0.05),
		0 2px 2px rgba(28, 29, 33, 0.12), 0 4px 4px rgba(28, 29, 33, 0.12),
		0 8px 8px rgba(28, 29, 33, 0.12), 0 16px 16px rgba(28, 29, 33, 0.12);
}

article {
	// set the color of the text to be black
	color: $darkest;
	padding: 2em 0;

	h4,
	h5,
	h6 {
		font-size: 1em;
	}
	h5,
	h6 {
		&::before {
			content: ">";
		}
	}

	// set list style types
	ul {
		* {
			list-style-type: disc;
		}
	}
	ol {
		* {
			list-style-type: decimal-leading-zero;
		}
	}

	// list Indents
	@mixin setIndents($li-p-left, $code-left) {
		li,
		p {
			margin-left: $li-p-left;
		}

		pre {
			margin-left: $code-left;
		}
	}

	ul,
	ol,
	p {
		// first level indent
		@include setIndents(1rem, -2rem);
		ul,
		ol {
			// Second level indent
			@include setIndents(2rem, -2rem);
			ul,
			ol {
				// Third level indent
				@include setIndents(2rem, -2rem);
			}
		}
	}

	// quotes
	blockquote p {
		font-weight: bold;
		padding: 1ch;
		margin: 2ch;
		font-style: italic;
		quotes: '"' '"' "'" "'";
		&::before {
			content: open-quote;
		}

		&::after {
			content: close-quote;
		}
	}

	// code blocks
	.code-wrapper {
		// require this to place the copy button absolutely
		position: relative;
		margin: 2ch 0;

		// copy button
		.codeblock-copy-label {
			display: block;
			// absolute and to the right of the relative .code-wrapper
			position: absolute;
			float: right;
			top: 1px;
			right: 1px;
			box-sizing: border-box;
			padding: 6px;
			border-radius: 1ch;
			border: 2px solid;
			border-color: $darkest;
			background: $lightest;
			color: $darkest;
			cursor: pointer;
		}

		// special block thats added to output code that says "Output"
		.codeblock-output-label {
			float: right;
			padding: 5px;
			border-radius: 1ch 1ch 0 0;
			border: 2px solid;
			border-bottom: none;
			position: relative;
			top: 2px;
			border-color: $darkest;
			background: $lightest;
			color: $darkest;
			cursor: default;
		}

		// general codeblock style
		.codeblock-wrapper {
			scrollbar-color: $dark $darkest;
			scrollbar-shadow-color: none;
			font-weight: bolder;
			display: block;
			width: 100%;
			background-color: $darkest;
			padding: 1ch;
			// margin-top: 3rem;
			box-sizing: border-box;
			@extend .floatGradient;
			overflow-x: auto;
			border-radius: 1ch;
			code {
				background-color: unset;
				border: unset;
				color: #e3e2de;
				font-family: "Fira Code", monospace;
			}
		}
	}

	// color "output" code blocks lighter
	.codeblock-wrapper.language-output {
		background-color: $lightest;
		border-radius: 1ch 0 1ch 1ch;
		border: 2px solid;
		border-color: $darkest;
		code {
			color: $darkest;
		}
	}

	// inline code
	:not(pre) > code {
		background-color: $darkest;
		font-size: 0.9em;
		color: $lightest;
		font-weight: 500;
		padding: 2px 5px 2px 5px;
		// padding: 0 5px 2px;
		hyphens: none;
		font-family: "Fira Code", monospace;
		border: 1px solid;
		border-color: $darkest;
		box-sizing: border-box;
		border-radius: 0.25em;
		line-height: 1em;
		display: inline-block;
		word-break: break-all;

		@include selectionColors($light, $lightest);
	}

	// separate out the paragraphs
	p {
		margin: 1em 0;
	}

	.markdown-image-wrapper {
		width: 100%;
	}

	// images should go inside the markdown-image-wrapper class and will be centered
	img {
		overflow: hidden;
		display: block;
		margin: auto;
		width: 80%;
	}

	// tables
	table,
	th,
	td {
		border: 1px solid $darkest;
		border-collapse: collapse;
		margin: 2ch 0;
		padding: 1ch;
		color: $darkest;
		background-color: $lightest;
	}

	th {
		background-color: $light;
		text-align: center;
	}

	// box shadows
	.floatGradient {
		box-shadow: 0 0.5ch 0px rgba(28, 29, 33, 0.05),
			0 2px 2px rgba(28, 29, 33, 0.12), 0 4px 4px rgba(28, 29, 33, 0.12),
			0 8px 8px rgba(28, 29, 33, 0.12), 0 16px 16px rgba(28, 29, 33, 0.12);
	}

	// copy to clipboard url '#' button
	.gistShareAnchor {
		position: absolute;
		margin-left: 10px;
		opacity: 0;
		background-color: inherit;
		color: inherit;
		&:hover {
			color: orange;
			mix-blend-mode: unset;
		}
	}

	// make lists a bit more spaced out
	li {
		margin: 0.5em 0;
	}
}

// hljs overwrites
.language-none {
	span {
		color: $lightest;
	}
}

// go to top button
#gotoTop {
	display: none;
	background-color: $darkest;
	position: fixed;
	margin: 1rem;
	padding: 1ch;
	bottom: 0;
	left: 0;
	a {
		color: $lightest;
	}
}
