// Light
$theme: "light";

// colors
$lightest: #e0e0e0;
$darkest: #121212;
$dark: #343434;
$light: #787878;
$light2: #c1c1c1;
//
// $lightest: #37f2ff;
// $darkest: #121212;
// $dark: #2eb41c;
// $light: #a00a0a;
// $light2: #1933a7;

// special
// $mainBackground: #ffeeaa;
$mainBackground: #ffeeaa;

// $mainBackground: rgb(226, 226, 226);
