// dark
// $bg-color: #252728;
// $bg-accent: black;
// $font-color: #f6f6fa;
// $font-accent1: #bd93f9;
// $font-accent2: #44475a;
// $font-accent3: #50fa7b;
// $code-block-bg: #000000;

// light
$bg-color: #fffffa;
$bg-accent: #e7e5e5;
$font-color: #121420;
$font-accent1: blue;
$font-accent2: #dedede;
$font-accent3: #ff312e;
$code-block-bg: #e7e5e5;
